body {
	background-image: url(imagenes/Fondo.jpg);
	border-radius: 20px;
	margin: 20px 20px 0px 20px;
	padding: 40px 40px 4px 40px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	height: 1000px;
}

/*btn actividaes cuando si no esta en mobile no se ve,
porque la tabla se muestra en la pantalla principal*/
.actividades {
	display: none !important;
}

.logoSinLimites {
	width: 180px;
	height: 80px;
	position: relative;
	float: left;
	border-radius: 1px;
	margin-left: 20px;
	margin-top: 8px;
}

header {
	background-color: white;
	border-radius: 30px;
	width: 100%;
	height: 100px;
	padding: 10px;
	position: sticky;
	top: 0;
}

/*menu desplazado a la derecha*/
.menu {
	float: right;
}

/*enlaces del menu*/

.menu a {
	position: relative;
	top: 18px;
	display: inline-block;
	color: black;
	background-color: #e1d6d6;
	width: 80px;
	height: 25px;
	border-radius: 15px;
	transition: all 1s;
	text-align: center;
	padding: 15px;
	margin-left: 10px;
	text-decoration: none;
}

/*cuando paso el mouse por encima del menu*/
.menu a:hover {
	color: white;
	background-color: blue;
	border-radius: 0px;
	width: 200px;
	height: 30px;
}

/*inicio de frase del día*/

.fraseDelDia {
	display: block;
	height: 60px;
}

p {
	text-align: center;
	margin: 0px auto;
	padding: 20px;
	margin-top: 10px;
}

span {
	color: red;
	border: 1px solid red;
	margin: 0px 3px 0px 0px;
}

/*Fin de frase del día*/

/*Inicio  de la tabla*/
table {
	font-size: 30px;
	border: 1px solid gray;
	border-spacing: 15px;
	border-radius: 15px;
	margin: 0px auto;
	/*margin auto para que centre la tabla en la pagina*/
}

/*propiedad de titulos table head -encabezado*/
th {
	color: red;
	background-color: rgb(209, 202, 202);
	border-radius: 5px;
	padding: 10px;
}

/*propiedad de los datos table data */
td {
	padding: 10px;
	border: 1px solid gray;
}

/*poso por encima de cada celda celda table row*/
tr:hover {
	background-color: blue;
	color: white;
	cursor: pointer;
}

/*Fin de la tabla*/

/*inicio de logo*/

.logoWasap {
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 150px;
	height: 71px;
	float: left;
	z-index: 11;
	transition: all 0.3s; /*ver*/
	cursor: pointer;
}

.wspHover {
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 150px;
	height: 71px;
	float: left;
	display: none;
	cursor: pointer;
	z-index: 2;
}

.logoWasap:hover {
	display: none;
}

.wspHover {
	display: block;
}

/*fin de logo*/

/*Inicio Footer*/
footer {
	margin-top: 280px;
	height: 100px;
	text-align: center;
	opacity: 0.5;
	font-size: 25px;
	font-family: "Courier New", Courier, monospace;
	color: white;
	background-color: blue;
}

/*  INICIO MEDIAS QUERYS*/

/*-------------------------------*/
/* 1) - mobile - hasta 600px
   2) - tablet -desde 601px lo mínimo  hasta 1000px lo máximo
   3) - desktop

/*mobile*/

/*-------------------------------*/

@media (max-width: 600px) {
	/*desaparece la tabla  de actividades
	y aparece el boton de actividades */

	table {
		display: none;
	}

	body {
		background-image: none;
		background-color: blue;
	}

	/*btn de actividadaes */

	.actividades {
		position: relative;
		top: 18px;

		display: block !important;
		color: black;
		background-color: #e1d6d6;
		width: 80px;
		height: 25px;
		border-radius: 15px;
		transition: all 1s;
		text-align: center;
		padding: 15px;
		text-decoration: none;
		margin: 0px auto;
	}

	header {
		background-color: white;
		border-radius: 30px;
		width: 51vh;
		height: 60vh;
		padding: 10px;
		position: relative;
		top: 0;
		margin: 0 auto;

	}

	.logoSinLimites {
		position: relative;
		margin: 0px auto;
		float: inherit;
		display: block;
		width: 40vh;
		height: 14vh;
	}

	.menu {
		width: 80%;
		background-color: white;
		float: none;
		margin: 0px auto;
		display: block;
	}

	.menu a {
		position: relative;
		top: 18px;
		display: block;
		color: black;
		background-color: #e1d6d6;
		width: 30vh;
		height: 4vh;
		border-radius: 15px;
		transition: all 1s;
		text-align: center;
		padding: 15px;
		text-decoration: none;
		margin: 0px auto;
		margin-top: 3px;
	}

	a:hover {
		color: white;
		background-color: rgb(47, 47, 56);
		border-radius: 0px;
		width: -webkit-fill-available;
		height: 30px;
	}

	footer {
		margin-top: 280px;
		height: 100px;
		text-align: center;
		padding: 55px 0px 0px -4px;
		font-size: 25px;
		font-family: "Courier New", Courier, monospace;
		color: blue;
		background-color: white;
	}
}

/*-------------------------------*/
/*tablet*/
/*-------------------------------*/

@media (min-width: 601px) and (max-width: 1000px) {
	body {
		width: 100%;
		background-image: url("imagenes/actividades3.jpg");
		background-size: cover;
		background-position: center;
	}

	header {
		
	
		background-color: white;
		border-radius: 30px;
		width: 100%;
		height: 20vh;
		padding: 10px;
		position: relative;
		
	}


	.logoSinLimites {
		position: relative;
		display: block;
		width: 200px;
		height: 100px;
	}

	.menu {
		float: right;
	}
	.menu a {
		position: relative;
		width: 70px;
		height: 20px;
		margin-top: 5px;
		margin-left: 20px;
	}
    

    .menu a:hover {
		color: white;
		background-color: rgb(0, 38, 255);
		border-radius: 0px;
		width: 100px;
		height: 10px;
	}

	table{width: 100%;
		font-size: 21px;
	}
}
