body {
	/*background-color: black;*/
	background-image: url(imagenes/Fondo.jpg);
	border-radius: 20px;
	margin: 20px 20px 0px 20px;
	padding: 40px 40px 4px 40px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	height: 1000px;
}

/*btn actividaes cuando si no esta en mobile no se ve,
porque la tabla se muestra en la pantalla principal*/
.actividades {
	display: none !important;

}

.logoSinLimites {
	width: 180px;
	height: 80px;
	position: relative;
	float: left;
	border-radius: 1px;
	margin-left: 20px;
    margin-top: 8px;
}

header {
	background-color: white;
    border-radius: 30px;
	width: 100%;
	height: 100px;
	padding: 10px;
	position: sticky;
	top: 0;
}

/*menu desplazado a la derecha*/
.menu {
	float: right;
}

/*enlaces del menu*/

.menu a {
	position: relative;
	top: 18px;
	display: inline-block;
	color: black;
	background-color:#e1d6d6;
	width: 80px;
	height: 25px;
	border-radius: 15px;
	transition: all 1s;
	text-align: center;
	padding: 15px;
	margin-left: 10px;
	text-decoration: none;
}

/*cuando paso el mouse por encima del menu*/
.menu a:hover {
	color: white;
	background-color: blue;
	border-radius: 0px;
	width: 200px;
	height: 30px;
	
}


/*inicio de frase del día*/


.fraseDelDia {
	display: block;
	height: 60px;
}

p {
	text-align: center;
    margin: 0px auto;
    padding: 20px;
	margin-top: 10px;
	}

span {
	color: red;
	border: 1px solid red;
	margin: 0px 3px 0px 0px;
}


/*Fin de frase del día*/




/*Inicio  de la tabla*/
table {
	font-size: 30px;
	border: 1px solid gray;
	border-spacing: 15px;
	border-radius: 15px;
	margin: 0px auto;
	/*margin auto para que centre la tabla en la pagina*/
}

/*propiedad de titulos table head -encabezado*/
th {
	color: red;
	background-color: rgb(209, 202, 202);
	border-radius: 5px;
	padding: 10px;
}

/*propiedad de los datos table data */
td {
	padding: 10px;
	border: 1px solid gray;
}

/*poso por encima de cada celda celda table row*/
tr:hover {
	background-color: blue;
	color: white;
	cursor: pointer;
}


/*Fin de la tabla*/


/*inicio de logo*/

.logoWasap{
	
	position: fixed;
    bottom: 0px;
    right: 0px;
    width: 150px;
    height: 71px;
    float: left;
    z-index: 11;
	transition: all 0.3s;/*ver*/
	cursor: pointer;
	
}

.wspHover{
	
	position: fixed;
    bottom: 0px;
    right: 0px;
    width: 150px;
    height: 71px;
    float: left;
   display: none;
   cursor: pointer;
   z-index: 2;
}

.logoWasap:hover{
	
  display: none;
}

.wspHover{
display: block;


}



/*fin de logo*/


/*Inicio Footer*/
footer {
	margin-top: 280px;
	height: 100px;
	text-align: center;
	opacity: 0.5;
	font-size: 25px;
	font-family: "Courier New", Courier, monospace;
	color: white;
	background-color: blue;
}


/*  INICIO MEDIAS QUERYS*/





@media (max-width: 876px) {
	div {
		display: block;
	}
	table {
		display: none;
	}

	body {
		background-image: none;
		background-color: blue;
	}

	header {
		width: 100%;
		height: 400px;
		padding: 10px;
	}
	.actividades {
		display: inline-block!important;
		position: relative;
	top: 18px;
	display: inline-block;
	color: black;
	background-color:#e1d6d6;
	width: 80px;
	height: 25px;
	border-radius: 15px;
	transition: all 1s;
	text-align: center;
	padding: 15px;
	margin-left: 10px;
	text-decoration: none;
	}

	.logoSinLimites {
		position: relative;
		display: block;
		width: -webkit-fill-available;
		height: 100px;
	}

	nav {
		float: none;
	}
	nav a {
		position: relative;
		width: -webkit-fill-available;
		height: 20px;
		margin-top: 5px;
		margin-left: 0px;
	}

	a:hover {
		color: white;
		background-color: rgb(47, 47, 56);
		border-radius: 0px;
		width: -webkit-fill-available;
		height: 30px;
	}
}

/*

@media (min-width: 501px) and (max-width: 875px) {
	div {
		display: block;
	}
	table {
		display: none;
	}

	body {
		background-image: none;
		background-color: rgb(234, 0, 255);
	}

	header {
		width: 100%;
		height: 400px;
		padding: 10px;
	}
	.actividades {
		display: block;
	}

	.logoSinLimites {
		position: relative;
		display: block;
		width: 500px;
		margin-left: 100px;
		margin-bottom: 10px;
		height: 100px;
	}

	nav {
		float: none;
	}
	nav a {
		position: relative;
		width: 500px;
		height: 20px;
		margin-top: 8px;
		margin-left: 90px;
	}
}
*/

@media (min-width: 877px) and (max-width: 1000px) {
	body {
		background-image: url("imagenes/actividades3.jpg");
		background-size: cover;
		background-position: center;
	
	}

	header {
		width: 100%;
		height: 110px;
		padding: 10px;
	}
	.actividades {
		display: inline-block!important;
		position: relative;
	top: 18px;
	display: inline-block;
	color: black;
	background-color:#e1d6d6;
	width: 80px;
	height: 25px;
	border-radius: 15px;
	transition: all 1s;
	text-align: center;
	padding: 15px;
	margin-left: 10px;
	text-decoration: none;
	}

	.logoSinLimites {
		position: relative;
		display: block;
		width: 200px;
		height: 100px;
	}

	nav {
		float: none;
	}
	nav a {
		position: relative;
		width: 70px;
		height: 20px;
		margin-top: 5px;
		margin-left: 20px;
	}

	a:hover {
		color: white;
		background-color: rgb(47, 47, 56);
		border-radius: 0px;
		width: -webkit-fill-available;
		height: 30px;
	}
}
