body {
	background-color: black;
	margin: 20px;
	padding: 40px;
	color: white;
}

.logoSinLimites {
	width: 180px;
	height: 80px;
	position: relative;
	border-radius: 1px;
	display: block;
	margin: 0px auto;
	margin-bottom: 20px;
}

h1 {
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	text-align: center;
	font-size: 50px;
	/* para darle a un texto grosor de trazo y color*/
	-webkit-text-stroke: 2px #3f51b5;
	/*pone transparente el texto yd eja el borsde*/
	/* color: transparent;*/
}

form {
	/*50 % del ancho del pagina en este caso body*/
	max-width: 50%;
	background-color: blue;
	margin: 0px auto; /*centra*/
	padding: 15px;
	border-radius: 10px;
} /*para separa los input*/

input,
textarea,
select {
	/*100 % del contenedor en este caso form*/
	width: 100%;
    height: 22px;
    font-size: 15px;
	margin-bottom: 30px;
	border: none; /*el input viene con borde y padding por defecto */
	padding: 0px; /*al sacarselos se amoldan al contenedor*/
}

.textMensaje{height: 40px;
}

.btnAnimado {
	position: relative;
	transition: all 0.5s;
	border-radius: 0px;
}

.btnAnimado:hover {
	border-radius: 50px;
	background-color: white;
	transform: scaleX(1.2) scaleY(1.3);
	margin-right: 10px;
	margin-left: 20px;
}
