/*@import url(../style.css);
*/
@import url(../nutricion/footer.css);

@import url(../contacto/querys.css);


body {background-image: url(../imagenes/FondoHD2.jpg);
	background-size: cover;
	border-radius: 20px;
	margin: 0px 20px 0px 20px;
	padding: 0px 40px 4px 40px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	
}




.divsection {
	display: block;
	height: 40px;
}
.claseGratis {
	background-color: aqua;
	text-decoration: none;
	background: #ff561b;
	padding: 11px 20px;
	transform: skewX(-15deg);
	color: #254250;
	transform-origin: 50% 50%;
	float: right;
	font-weight: bold;
	transition: all 1s;
}

.claseGratis:hover{
	color: white;
}

.logoSinLimites {
	width: 180px;
	height: 80px;
	position: relative;
	float: left;
	border-radius: 1px;
	margin-left: 20px;
	margin-top: 8px;
}

header {
	background-color: white;
	border-radius: 30px;
	width: 100%;
	height: 100px;
	padding: 10px;
	
	top: 0;
}

/*menu desplazado a la derecha*/
.menu {
	float: right;
}

/*enlaces del menu*/

.menu a {
	position: relative;
	top: 18px;
	display: inline-block;
	color: black;
	background-color: #e1d6d6;
	width: 80px;
	height: 25px;
	border-radius: 15px;
	transition: all 1s;
	text-align: center;
	padding: 15px;
	margin-left: 10px;
	text-decoration: none;
}

/*cuando paso el mouse por encima del menu*/
.menu a:hover {
	color: white;
	background-color:  #1e4b9a;
	top: 5px;
	
}




h1 {
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	text-align: center;
	font-size: 50px;
	/* para darle a un texto grosor de trazo y color*/
	-webkit-text-stroke: 2px #3f51b5;
	/*pone transparente el texto yd eja el borsde*/
	/* color: transparent;*/
}

form {
	/*51 % del ancho del pagina en este caso body*/
	
	max-width: 51%;
	opacity: 0.8;
	background-color:   #1e4b9a;
	margin: 0px auto; /*centra*/
	padding: 15px;
	border-radius: 10px;
	margin-top: 100px;
} /*para separa los input*/

input,
textarea,
select {
	/*100 % del contenedor en este caso form*/
	width: 100%;
    height: 22px;
    font-size: 15px;
	margin-bottom: 30px;
	border: none; /*el input viene con borde y padding por defecto */
	padding: 0px; /*al sacarselos se amoldan al contenedor*/
	margin-top: 5px;
}

.textMensaje{height: 40px;
}

button a{text-decoration: none;
           color: black;}

.btnAnimado {
	
	position: relative;
	transition: all 0.5s;
	border-radius: 0px;
	
}

.btnAnimado:hover {
	border-radius: 50px;
	background-color: white;
	
	transform: scaleX(1.2) scaleY(1.3);
	margin-right: 10px;
	margin-left: 20px;
}

.botones{margin: 0px auto;
    text-align: center;
	padding: 10px 0px 10px 0px;
	
}



/*Inicio Footer*/

footer {
	background-position: bottom;
    margin-top: 100px;
    height: 53px;
    padding: 40px 0px 40px 0px;
    text-align: center;
    /* opacity: 0.5; */
    font-size: 16px;
    font-family: "Courier New", Courier, monospace;
    color: white;
    background-color: #1e4b9a;
    border-radius: 30px;
	margin-bottom: 40px;
}


/*------------------------------*/

/*mobile sin btn hamburguesa*/

/*-------------------------------*/

@media (min-width: 402px) and (max-width: 600px) {
	/*desaparece la tabla  de actividades
	y aparece el boton de actividades */

	table {
		display: none;
	}

	body {
		background-image: url(../imagenes/actividades1.jpg);
		background-color: blue;
		background-size: cover;
		/*height: 100%;
		width: 100%;*/
		margin: 0;
		padding: 0;
	}

	/*btn de actividadaes */

	.actividades {
		position: relative;
		top: 18px;

		display: block !important;
		color: black;
		background-color: #e1d6d6;
		width: 80px;
		height: 25px;
		border-radius: 15px;
		transition: all 1s;
		text-align: center;
		padding: 15px;
		text-decoration: none;
		margin: 0px auto;
	}

	video {
		display: none;
	}
	header {
		background-color: white;
		border-radius: 30px;
		width: 51vh;
		height: 60vh;
		padding: 10px;
		position: relative;
		top: 0;
		margin: 0 auto;
	}

	.logoSinLimites {
		position: relative;
		margin: 0px auto;
		float: inherit;
		display: block;
		width: 40vh;
		height: 14vh;
	}

	.menu {
		width: 80%;
		background-color: white;
		float: none;
		margin: 0px auto;
		display: block;
	}

	.menu a {
		position: relative;
		top: 18px;
		display: block;
		color: black;
		background-color: #e1d6d6;
		width: 30vh;
		height: 4vh;
		border-radius: 15px;
		transition: all 1s;
		text-align: center;
		padding: 15px;
		text-decoration: none;
		margin: 0px auto;
		margin-top: 3px;
	}

   form{max-width: 60%;
	margin-top: 30px;}
	footer {
		/*margin-top: 30px;*/
    width: 100%;
    height: 90px;
    font-size: 10px;
    text-align: center;
    padding: 55px 0px 0px -4px;
    padding: 26px 0px 4px 0px;
    font-size: 15px;
    font-family: "Courier New", Courier, monospace;
    color: #1e4b9a;
    background-color: white;
}

	.logoWasap {
		position: fixed;
		bottom: 62px;
		right: 0px;
		width: 130px;
		height: 65px;
		float: left;
		z-index: 11;
		transition: all 0.3s;
		cursor: pointer;
	}

	.wspHover {
		position: fixed;
		bottom: 62px;
		right: 0px;
		width: 130px;
		height: 65px;
		float: left;
		z-index: 2;
		transition: all 0.3s;
		cursor: pointer;
	}
}

@media (max-width: 401px) {
	body .logoWasap {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 95px;
    height: 40px;
    /* float: left; */
    z-index: 11;
    transition: all 0.3s;
    cursor: pointer;
}

body .wspHover {
	position: fixed;
    top: 0px;
    left: 0px;
    width: 95px;
    height: 40px;
    /* float: left; */
    z-index: 2;
    transition: all 0.3s;
    cursor: pointer;

}

}