
body{background-image: url(../imagenes/FondoHD.jpg);
	background-size: cover;}
.container{
    margin: auto; /*para centrar*/
   
    width: 800px;
    padding: 30px;
  }
  

  /*Inicio  de la tabla*/
table {
	font-size: 30px;
  color: aliceblue;
	border: 1px solid gray;
	border-spacing: 15px;
	border-radius: 15px;
	margin: 0px auto;
	/*margin auto para que centre la tabla en la pagina*/
	margin-top: 50px;
  opacity: 0.5;
}

/*propiedad de titulos table head -encabezado*/
th {
	color: red;
	background-color: rgb(209, 202, 202);
	border-radius: 5px;
	padding: 10px;
}

/*propiedad de los datos table data */
td {
	padding: 10px;
	border: 1px solid rgb(238, 222, 222);
}

/*poso por encima de cada celda celda table row*/
tr:hover {
	background-color: blue;
	color: white;
	cursor: pointer;
}

/*Fin de la tabla*/