body {
   
    background-color: black;
    margin: 20px;
    padding: 40px;
    color: white;
    /*border: 1px solid yellow;*/
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 50px;
    /* para darle a un texto grosor de trazo y color*/
    -webkit-text-stroke: 2px #3f51b5;
    /*pone transparente el texto yd eja el borsde*/
    /* color: transparent;*/
}
h3{text-align: center;
}

p{ text-align: justify;
    padding: 13px;
}

section {
    /*border: 1px solid red;*/
    width: 100%;
    
  }
  
  article{
/*border: 1px solid green;*/
width: 48%;
margin-bottom: 30px;
display: inline-block;
vertical-align: top;
  
}

img{
    width: 40%;
    display: block;
    margin: 0px auto;
}  